.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.bug-container:nth-child(odd){
  background-color: antiquewhite;
  box-shadow: .5em .5em 0px #080708;
}
.bug-container:nth-child(even){
  background-color: var(--primary);
  box-shadow: .5em .5em 0px #080708;
}

#app{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }
  
  .content-shadow{
    box-shadow: .5em .5em 0px #080708;
  }

  .spacer{
    height: 15vh;
  }

  .text-pop{
    color: var(--light);
    text-shadow: .1em .1em 0px var(--dark);
  }

  .text-pop-small{
    color: var(--light);
    text-shadow: .025em .025em 0px var(--dark);
  }

  .background{
    background-image: url("https://images.unsplash.com/photo-1571786256017-aee7a0c009b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1700&q=80");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
  }

  .pop {
    transition: 0.5s ease;
  }
  .pop:hover {
    transform: scale(1.05);
    box-shadow: .6em .6em 1em #080708;
  }

